@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
#__next {
  color: rgb(var(--foreground-rgb));
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5715;
  display: flex;
  flex-direction: column;
}

/* components */
@import '../components/menu/style.module.scss';
@import '../components/card/style.module.scss';
@import '../components/modal/style.module.scss';



